@media (max-width: 790px) {
    .section__title {
        font-size: 46px;
        line-height: 55px;
    }    
}

@media (max-width: 520px) {

    .section__title {
        font-size: 40px;
        line-height: 50px;
    }    
}

@media (max-width: 420px) {
    .section__title {
        font-size: 35px;
        line-height: 45px;
        max-width: 100%;
    }
}