@import 'base/global';
@import 'base/var';
@import 'base/reset';
@import '../../node_modules/animate-scss/animate.scss';



.header {
    padding-bottom: 40px;
    margin-bottom: 40px;
    &__inner {
        display: flex;
        padding: 10px 0;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 26px;
    }
    .logo {
        &__img {
        }
    }
    
    .menu {
        &__list {
            display: flex;
            justify-content: space-evenly;
            &-item {
                margin-left: 30px;
            }
            &-link {
            }
        }

        &__btn {
            width: 40px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: transparent;
            border: none;
            display: none;
            span {
                width: 40px;
                height: 4px;
                background-color: #fff;
            }
        }
    }

    &__promo {
        display: flex;
        align-items: center;
        min-height: 100vh;
        &-content {
            max-width: 700px;
        }
        &-title {
            font-size: 74px;
            line-height: 82px;
            color: $contrast-color;
            font-family: 'Sansita', sans-serif;
            font-weight: 700;
            margin-bottom: 30px;
        }
        &-text {
            margin-bottom: 30px;
        }
        &-btn {
            padding: 10px 15px;
            border-radius: 15px;
            background-color: $contrast-color;

        }
        &-img {
            transform: scale(-1, 1);
            min-width: 470px;
        }
    }
}

.header__fixed {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: $background-color;
    box-shadow: 0px 12px 30px rgba(4, 2, 33, 0.28);
}

#about {
    padding-top: 40px;
    min-height: 100vh;
    margin-bottom: 100px;
    .about__title {
        text-align: left;
        margin-bottom: 40px;
        padding-bottom: 10px;
        border-bottom: 4px solid #fff;
    }

    .about__text {
        text-align: left;
        margin: 0 auto;
    }
}

.steps {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
        .step {
            @include fadeInRight;
            position: relative;
            margin: 0 auto;
            margin-bottom: 50vh;
            &__title {
                min-height: 100vh;
            }
            &__inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 100vh;
            }
            &__content {
                max-width: 600px;
            }
            &__img {
            }
            &:nth-child(odd) {
                .step__inner {
                    flex-direction: row-reverse;
                }
            }
        }
    
}

.conclusion {
    margin-bottom: 100px;
    text-align: center;
    min-height: 100vh;
    &__text {
        padding: 50px 20px;
        background-color: #fff;
        color: $background-color;
    }
}

#prices {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    min-height: 100vh;
    .prices {
        &__title {
            text-align: left;
            padding-bottom: 10px;
            border-bottom: 4px solid #fff;
            margin-bottom: 50px;
        }

        &__inner {
            display: flex;
            align-items: center;
        }

        &__content {
            max-width: 800px;
        }
    }
    
}

#contacts {
    padding-top: 40px;
    margin-bottom: 40px;
    min-height: 100vh;
    padding-bottom: 40px;
    .contacts__title {
        text-align: left;
        padding-bottom: 10px;
        border-bottom: 4px solid #fff;
    }
}

.footer {
    padding: 40px 0;
}

@import './media';




