@import 'base/global';
@import 'base/var';
@import 'base/reset';
@import 'blocks/clippy';
@import '../../node_modules/animate-scss/animate.scss';



.header {
    padding-bottom: 40px;
    margin-bottom: 40px;
    &__inner {
        display: flex;
        align-items: center;
        padding: 10px 0;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 26px;
    }
    .logo {
        &__img {
            width: 140px;
            height: 70px;
        }
    }
    
    .menu {
        &__list {
            display: flex;
            justify-content: space-evenly;
            &-item {
                margin-left: 30px;
            }
            &-link {
            }
        }

        &__btn {
            width: 40px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: transparent;
            border: none;
            display: none;
            span {
                width: 40px;
                height: 4px;
                background-color: #fff;
            }
        }
    }

    &__promo {
        display: flex;
        align-items: center;
        min-height: 100vh;
        &-content {
            max-width: 700px;
        }
        &-title {
            font-size: 66px;
            line-height: 77px;
            color: $contrast-color;
            font-family: 'Sansita', sans-serif;
            font-weight: 700;
            margin-bottom: 30px;
        }
        &-text {
            margin-bottom: 30px;
        }
        &-btn {
            padding: 10px 15px;
            border-radius: 15px;
            background-color: $contrast-color;

        }
        &-img {
            min-width: 470px;
        }
    }
}

.header__fixed {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $background-color;
    box-shadow: 0px 12px 30px rgba(4, 2, 33, 0.28);
}

#about {
    padding-top: 40px;
    min-height: 100vh;
    margin-bottom: 50vh;
    .about__title {
        // text-align: left;
        // margin-bottom: 40px;
        // padding-bottom: 10px;
        // border-bottom: 4px solid #fff;
    }

    .about__inner {
        display: flex;
        align-items: center;
    }

    .about__text {
        padding-top: 200px;
        text-align: left;
        margin: 0 auto;
        max-width: 500px;
        @include fadeInRight;
    }

    .about__img {
        min-height: 800px;
    }
}

.steps {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
        .step {
            @include fadeInRight;
            position: relative;
            margin: 0 auto;
            margin-bottom: 50vh;
            
            &__title {
                min-height: 100vh;
            }
            &__inner {
                display: flex;
                justify-content: space-between;
                min-height: 100vh;
                background-image: url(../images/blob-haikei.svg);
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: contain;
            }
            &__content {
                max-width: 600px;
                padding-top: 350px;
                
            }
            &__img {
                min-height: 800px;
            }
            &:nth-child(odd) {
                .step__inner {
                    flex-direction: row-reverse;
                }

                
            }
        }
    
}

.conclusion {
    margin-bottom: 100px;
    text-align: center;
    min-height: 100vh;
    padding: 50px 20px 0px 20px;
    background-color: #fff;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        color: $background-color;
    }
    &__img {
        object-fit: cover;
        max-width: 50%;
        
    }
}

#prices {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    min-height: 100vh;
    .prices {
        &__title {
            // text-align: left;
            // padding-bottom: 10px;
            // border-bottom: 4px solid #fff;
            // margin-bottom: 50px;
        }

        &__inner {
            display: flex;
            align-items: center;
        }

        &__table {
            min-width: 400px;
            max-width: 600px;
            font-size: 18px;
            line-height: 22px;
            tr {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
            }
            .prices__item {
                &-name {
                    width: 30%;
                }

                &-divider {
                    width: 45%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 10px;
                }

                &-num {
                    width: 25%;
                }
            }
        }

        &__list {
            &-item {
                padding: 7px 0;
                border-bottom: 1px solid #fff;
                display: flex;
                justify-content: space-between;
            }
        }

        &__img {
            object-fit: cover;
            width: 40%;
        }
    }
    
}

#contacts {
    padding-top: 40px;
    margin-bottom: 40px;
    min-height: 100vh;
    padding-bottom: 40px;
    .contacts {
        &__title {
            // text-align: left;
            // padding-bottom: 10px;
            // border-bottom: 4px solid #fff;
            // margin-bottom: 70px;
        }

        &__content {
            width: 70%;
            margin: 0 auto;
            justify-content: center;
            background-color: #161254;
            padding: 40px 0;
            border-radius: 10px;
        }

        &__form {
            max-width: 350px;        
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            &-title {
                margin-bottom: 20px;
                font-size: 20px;
                line-height: 25px;
                text-align: center;
            }
            &-input {
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
                border-radius: 10px;
                padding: 10px 20px 6px 20px;
                font-size: 17px;
                line-height: 24px;
                margin-bottom: 20px;
                border: none;
                color: #fff;
                &::placeholder {
                    color: #fff;
                }
            }
            &-text {
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px 20px 6px 20px;
                color: #fff;
            }
            &-btn {
                max-width: 160px;
                margin: 0 auto;
                padding: 8px 17px;
                box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
                border-radius: 10px;
                font-size: 20px;
            }
        }
    }

    
}

.footer {
    padding: 40px 0;

    .social {
        display: flex;
        justify-content: center;
        &__list {
            max-width: 300px;
            display: flex;
            justify-content: space-between;
            &-item {
                width: 30px;
                height: 30px;
            }
            &-item + .social__list-item {
                margin-left: 10px;
            }
            &-link {
            }
            &-img {
            }
        }
    }
}

@import './media';




