@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background: $background-color;
    font-family: 'Montserrat', sans-serif;
    color: $font-color;
    font-size: 24px;
    line-height: 32px;
}

a{
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
}

button{
    cursor: pointer;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.section__title{
    font-weight: 700;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    min-height: 100vh;
}

.main__button {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: $contrast-color;
}

@media (max-width: 600px) {
    body {
        font-size: 20px;
        line-height: 27px;
    }

    .section__title{
        font-size: 75px;
        line-height: 84px;
    
    }
}
