@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background: $background-color;
    font-family: 'Montserrat', sans-serif;
    color: $font-color;
    font-size: 24px;
    line-height: 32px;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.section__title{
    font-weight: 700;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;

}
