

.clip {
    // position: absolute;
    position: fixed;
    bottom: 10vmin;
    left: 10vmin;
    width: 9vmin;
    height: 12vmin;
    border: 1vmin solid #aaa;
    border-top: 0;
    border-radius: 0 0 10vmin 10vmin;
    box-sizing: border-box;
  }
  
  .clip::before {
    content: "";
    display: block;
    position: absolute;
    top: -15vmin;
    left: -1vmin;
    width: 7.75vmin;
    height: 15vmin;
    border: 1vmin solid #aaa;
    border-bottom: 0;
    border-radius: 10vmin 10vmin 0 0;
    box-sizing: border-box;
  }
  
  .clip::after {
    content: "";
    display: block;
    position: absolute;
    top: -2.5vmin;
    left: 0.25vmin;
    width: 6.5vmin;
    height: 9vmin;
    border: 1vmin solid #aaa;
    border-top: 0;
    border-radius: 0 0 10vmin 10vmin;
    box-sizing: border-box;
  }
  
  .eye {
    position: absolute;
    top: -75%;
    left: -35%;
    width: 75%;
    height: 35%;
    background: white;
    border-radius: 50%;
    z-index: 1;
    background-image: radial-gradient(circle, black 15%, transparent 0);
    box-shadow:
      inset 0 1.25vmin 0 -0.5vmin #aaa,
      inset 0 0 1vmin #aaa
  }
  
  .eye::before {
    content: "";
    display: block;
    position: absolute;
    top: -20%;
    width: 100%;
    height: 90%;
    border-radius: 50%;
    box-shadow: -0.25vmin -1vmin 0 -0.25vmin black;
  }
  
  .eye + .eye {
    left: 45%;
  }
  
  .eye + .eye::before {
    box-shadow: 0.25vmin -1vmin 0 -0.25vmin black;
  }



.popup {
    // position: absolute;
    color: #000;
    position: fixed;
    bottom: 35vmin;
    left: 20vmin;
    width: 30vmin;
    padding: 2vmin;
    background: #ffc;
    border-radius: 1vmin;
    border: 0.375vmin solid #666;
    font-size: 3vmin;
    font-family: Tahoma, "Courier New", Courier, sans-serif;
    line-height: 1.25;
  }
  
  .popup::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 10%;
    width: 6vmin;
    height: 6vmin;
    border-left: 0.375vmin solid #666;
    background-image: linear-gradient(-45deg, transparent 50%, #666 0 54%,  #ffc 0);
    transform: skew(-30deg);
  }
  