@import '../../node_modules/animate-scss/animate.scss';

.clippy {
    @include fadeIn;
    position: relative;
    min-height: 200px;
}
.clip {
    // position: absolute;
    position: absolute;
    bottom: 0;
    left: 8vmin;
    width: 6vmin;
    height: 6vmin;
    border: 0.60vmin solid #aaa;
    border-top: 0;
    border-radius: 0 0 10vmin 10vmin;
    box-sizing: border-box;
    transition: all 0.5s;
    cursor: pointer;
    @include fadeIn;
    animation-duration: 2s;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -8vmin;
        left: -0.7vmin;
        width: 5.75vmin;
        height: 8vmin;
        border: 0.60vmin solid #aaa;
        border-bottom: 0;
        border-radius: 10vmin 10vmin 0 0;
        box-sizing: border-box;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: -2.5vmin;
        left: 0.25vmin;
        width: 4.5vmin;
        height: 7vmin;
        border: 0.60vmin solid #aaa;
        border-top: 0;
        border-radius: 0 0 10vmin 10vmin;
        box-sizing: border-box;
    }

    &:hover {
        transform: scale(1.2);
    }
  }
  
  
  .eye {
    position: absolute;
    top: -75%;
    left: -35%;
    width: 65%;
    height: 35%;
    background: white;
    border-radius: 50%;
    z-index: 1;
    background-image: radial-gradient(circle, black 15%, transparent 0);
    box-shadow:
      inset 0 1.25vmin 0 -0.5vmin #aaa,
      inset 0 0 1vmin #aaa;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -20%;
        width: 100%;
        height: 90%;
        border-radius: 50%;
        box-shadow: -0.25vmin -1vmin 0 -0.25vmin black;
    }
  }
  
  
  .eye + .eye {
    left: 45%;
  }
  
  .eye + .eye::before {
    box-shadow: 0.25vmin -1vmin 0 -0.25vmin black;
  }



.popup {
    position: absolute;
    color: #000;
    font-size: 14px;
    line-height: 17px;
    bottom: 25vmin;
    left: 15vmin;
    width: 30vmin;
    padding: 2vmin;
    background: #ffc;
    border-radius: 1vmin;
    border: 0.375vmin solid #666;
    font-family: Tahoma, "Courier New", Courier, sans-serif;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 10%;
        width: 6vmin;
        height: 6vmin;
        border-left: 0.375vmin solid #666;
        background-image: linear-gradient(-45deg, transparent 50%, #666 0 54%,  #ffc 0);
        transform: skew(-30deg);
    }
}
  
  