@import '../base/var';
@import '../../../node_modules/animate-scss/animate.scss';

.conclusion {
    text-align: center;
    min-height: 100vh;
    padding: 70px 20px 50px 20px;
    background-color: #fff;
    &__inner {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__text {
        color: $background-color;
        max-width: 700px;
    }
    &__img {
        object-fit: cover;
        max-width: 35%;
        
    }
}

@media (max-width: 900px) {
    .conclusion {
        &__inner {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__text {
            margin-bottom: 50px;
        }

        &__img {
            max-width: 60%;
        }
    }
}

@media (max-width: 600px) {
    .conclusion {
        &__img {
            max-width: 90%;
        }
    }
}