@import '../base/var';
@import '../../../node_modules/animate-scss/animate.scss';

#contacts {
    padding: 40px 0;
    margin-bottom: 40px;
    min-height: 100vh;
    .contacts {
        &__content {
            width: 600px;
            margin: 0 auto;
            justify-content: center;
            background-color: $blue-color;
            padding: 40px 0;
            border-radius: 10px;
        }

        &__form {
            max-width: 350px;        
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            &-title {
                margin-bottom: 30px;
                font-size: 23px;
                line-height: 27px;
                text-align: center;
            }

            .input-box {
                margin-bottom: 20px;
                .error-label {
                    font-size: 10px;
                }
                &.error {
                    .contacts__form-input {
                        border: 1px solid red;
                    }

                    .contacts__form-text {
                        border: 1px solid red;
                    }

                }
            }
            &-input {
                width: 100%;
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
                border-radius: 10px;
                padding: 10px 20px 6px 20px;
                font-size: 17px;
                line-height: 24px;
                margin-bottom: 3px;
                border: none;
                color: #fff;
                &::placeholder {
                    color: #fff;
                }
            }
            &-text {
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px 20px 6px 20px;
                color: #fff;
            }
            &-btn {
                max-width: 160px;
                margin: 0 auto;
                transition: all 0.5s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

}

@media (max-width: 780px) {
    #contacts {
        .contacts {
            &__content {
                width: 70%;
            }

            &__form {
                max-width: 80%;
            }
        }
    }
}

@media (max-width: 600px) {
    #contacts {
        .contacts {
            &__content {
                width: 80%;
            }
        }
    }
}

@media (max-width: 450px) {
    #contacts {
        .contacts {
            &__content {
                width: 90%;
            }
            &__form {
                &-btn {
                    padding: 6px 11px;
                    font-size: 20px;
                }
            }
        }
    }
}