@import '../base/var';

.modal {
    display: none;
    background-color: rgba(128,128,128, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__content {
        background-color: $background-color;
        padding: 50px 30px 20px 30px;
        border-radius: 20px;
        color: #fff;
        position: relative;
        &-btn {
            position: absolute;
            top: 5px;
            right: 20px;
            color: #fff;
            background-color: transparent;
            border: none;
            padding: 10px;
            transition: all 0.5s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &.open {
        display: flex;
    }
}

.modal__form {
    .modal__content {
        .contacts__form-text {
            height: 250px;
        }
    }
}