@import '../base/var';
@import '../../../node_modules/animate-scss/animate.scss';

.steps {
    position: relative;
    max-height: calc(100vh - 130px);
    overflow: hidden;
    background: radial-gradient(at center, #0C074B, #050321);
    .step {
            position: relative;
            margin: 0 auto;
            background: #0C074B;
            background: radial-gradient(at center, #0C074B, #050321);
            &__title {
                min-height: 100vh;
                @include fadeInRight;
            }
            &__inner {
                display: flex;
                justify-content: space-between;
                min-height: 100vh;
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: contain;
            }
            &__content {
                max-width: 600px;
                padding-top: 250px;
                position: relative;
                &-text {
                    margin-bottom: 15px;
                }
                
            }
            &__img {
                min-height: 700px;
            }
            &:nth-child(odd) {
                .step__inner {
                    flex-direction: row-reverse;
                    .clippy {
                        left: 250px;
                    }
                }

                
            }
    }

    .steps-slider {
        transition: all 0.7s ease-in;
        &__item {
            background: #0C074B;
            background: radial-gradient(at center, #0C074B, #050321);
            max-height: 100vh;
            overflow: hidden;
            &.title {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
        }

    }

    .steps-slider__dots {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 40px;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        .slider-dot {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #fff;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                background-color: #fff;
                transform: scale(1.2);
            }
            &.active {
                background-color: #fff;
                transform: scale(1.2);
            }
        }
    }
}


//media 

@media (max-width: 960px) {
    .steps {
        .step {
            &__inner {
                flex-direction: column;
                align-items: center;
                background-position: left center;
                background-size: auto;
            }
            &:nth-child(odd) {
                .step__inner {
                    flex-direction:column-reverse;
                    align-items: center;
                    background-position: right center;
                }
            }

            &__content {
                padding-top: 30px;
                max-width: 80%;
            }
            &__img {
                margin-bottom: 10px;
                object-fit: cover;
                max-width: 90%;
                min-height: 500px;
            }
        }
        
       
    }
}

@media (max-width: 520px) {
    .steps {
        .step {
            &__title {
                min-height: 80vh;
            }
        }
    }
}